#!/bin/sh

[ -f '{{ conf.script.getconf }}' ] && . '{{ conf.script.getconf }}' || exit 1

sudo WINDOW_MANAGER="$WINDOW_MANAGER" DESKTOP_ENVIRONMENT="$DESKTOP_ENVIRONMENT" '{{ conf.script.sysconf }}' || exit 1

exec /usr/bin/startx
